@page "/"
@layout MainLayout

<h3> Dashboard page </h3>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // try
            // {
            //     var dd = await D.RoomAPI.GetAsync();
            //     ComFn.JSConsole("result", dd);
            // }
            // catch (Exception ex)
            // {
            //     ComFn.JSConsole("Exception", ex);
            // }
            
        }
    }
}
